.summaryCard {
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 0;
  }

  .summaryCard:hover {
    box-shadow: var(--mantine-shadow-md);
  }

  .summaryCard::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../assets/image_job.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    opacity: 0.16;
    z-index: -1;
  }

  .applicantsCard {
   transition: box-shadow 0.2s ease-in-out;
   position: relative;
   overflow: hidden;
   z-index: 0;
}
.applicantsCard:hover {
    box-shadow: var(--mantine-shadow-md);
}
.applicantsCard::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../assets/candidate-interview-small.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  opacity: 0.16;
  z-index: -1;
}

  .jobTable {
  }

  .jobTable th,
  .jobTable td {
    text-align: left;
  }

  .jobTable tbody tr {
      transition: background-color 0.15s ease;
  }

  .jobTable tbody tr:hover {
      background-color: var(--mantine-color-gray-0);
  }

  .actionButton {
      transition: background-color 0.15s ease;
  }